<!doctype html>
<html class="no-js" lang="" ng-app="todoapp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Things to Do</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body class="loading" ng-controller="ListController as listCtrl">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Brand</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lists<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">List A</a></li>
                        <li><a href="#">List B</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="" href="#">Create New Board</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ng-click="toggleModal()"><i class="glyphicon glyphicon-plus createList"></i></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="main">
    <div class="container">
        <ng-view></ng-view>
        <div id="loader_overlay"></div>
        <i id="loader" class="glyphicon glyphicon-refresh icon-spin"></i>
    </div>

</div>
<modal title="Create a List" visible="showModal">
    <form role="form" name="saveList">
        <div class="form-group">
            <label for="name">Name of List</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter the title of the list" />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Description" />
        </div>
        <div class="form-group">
            <label>List item</label>
            <input type="text" class="form-control" name="item1" id="item1" placeholder="List item" />
        </div>
        <button class="btn btn-default" ng-click="additem()">Add Item to List</button>
        <button class="btn btn-primary pull-right" ng-click="savelist()">Save List</button>
    </form>
</modal>
<script type="text/javascript" src="libs/jquery.min.js"></script>
<script type="text/javascript" src="libs/bootstrap.min.js"></script>
<script type="text/javascript" src="libs/angular.min.js"></script>
<script type="text/javascript" src="libs/angular-route.min.js"></script>
<script type="text/javascript" src="app.module.js"></script>
<script type="text/javascript" src="app.routes.js"></script>
<script type="text/javascript" src="list/list.controller.js"></script>
<script type="text/javascript" src="list/createListModal.directive.js"></script>
</body>
</html>
